@import "reset";
@import "variables";
@import "nav";
html{
    height: 100%;
    font-size: 16px;
    max-width: $xxl;
    margin: 0 auto;
    @media (min-width: $xl){
        font-size: 18px;
    }
    @media (min-width: $xxl){
        font-size: 20px;
    }
}
body{
    font-family: $bodyFont;
    box-shadow: 0 0 3em 3em $one;
}
a{
    color: $three;
}
footer{
    padding: 1em;
    background: $three;
    color: white;
    a{
        color: white;
        padding: 0 .5em;
    }
    p{
        float: right;
    }
}