html,body {
    height:100%;
}
section{
    overflow: hidden;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
h1{
    font-size: 2.5rem;
    color: $red2;
    font-family: $heading;
}
a{
    color: $dark;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.is-absolute{
    position: absolute;
}
.pl-1{
    padding-left: 1rem;
}
.d-flex{
    display: flex;
}
.align-self-center{
    align-self: center;
}