html,body {
    font-weight: 300;
	text-size-adjust: 100%;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
*,*:before, *:after{
	box-sizing: border-box;
}
a{
	text-decoration: none;
	&:active, &:hover{
		outline: 0;
	}
}
h1,h2,p{
	margin: 0;
}
section{
    overflow: hidden;
}