@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
$headingFont: 'Montserrat', sans-serif;
$bodyFont: 'Roboto', sans-serif;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

$one:#f7f7f7;
$two: #b5120b;
$three: #373737;
