@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
$heading: 'Montserrat', sans-serif;
$body: 'Roboto', sans-serif;
$md: 768px;
$red2: #b5120b;
$dark: #343a40;
$light: #f8f9fa;
$gray: #ebebeb;