@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
$headingFont: 'Montserrat', sans-serif;
$bodyFont: 'Roboto', sans-serif;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$dark: #343a40;
$light: #f8f9fa;
$gray: #ebebeb;


$one:#f7f7f7;
$two: #b5120b;
$three: #3e3636;
$four: #000000;

$twoo: #d72323;
$onee:#f5eded;
$one1:#fbf9fa;
$two1:#fd0054;
$three1:#a80038;
$four1: #2b2024;