@import "const";
h1{
    font-size: 2.5rem;
    color: $two;
    font-family: $headingFont;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.home{
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 800px;
    @media(min-width: $sm){
        max-height: 1000px;
    }
}
.home-info{
    position: relative;
    padding: 4em 0 0 6em;
    z-index: 3; 
    &:before{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        background: $two;
        width: 5em;
        height: 6em;
    }
    h1{
        line-height: 1em;
    }
    p{
        color: #9e9e9e;
        margin: 0 0 -.5em 1.8em;
    }
    @media(min-width: 439px){
        &:before{
            height: 4em;
        }
    }
    @media(min-width: $sm){
        padding: 8em 0 0 6em;
        &:before{
            top: 8em;
        }
    }
    @media(min-width: $md){
        padding: 8em 0 0 12em;
    }
    @media(min-width: $xl){
        padding: 8em 0 0 16em;
        &:before{
            height: 6em;
            top: 7em;
            width: 12em;
        }
    }
    @media(min-width: $xxl){
        padding: 12em 0 0 16em;
        &:before{
            top: 11em;   
        }
    }
}
.home-img{
    position: absolute;
    right: 0;
    width: auto;
    z-index: 2;
    // top: 25%;
    top: 50%;
    transform: translateY(-50%);
    @media only screen and (min-width: 568px) and (orientation:landscape){
        // top: 0;
        transform: translateY(-60%);
    }
    @media(min-width: $lg){
        // top: 4em;
        img{
            max-height: none;
        }
    }
}
// iphoneX, pixel2xl
@media only screen and (max-width: 823px) and (orientation:landscape){
    .home-info{
        padding: 8em 0 0 12em;
    }
    .home-img{
        img{
            max-height: calc(500px - 5em);
        }
    }
}
// ipad
// @media only screen and (min-width : 768px) and (max-width : 1024px){
//     .home-img{
//         top: 24%;
//     } 
// }
.banner{
    position: absolute;
    display: flex;
    bottom: 2em;
    width: 95%;
    background: #373737;
    .banner-img{
        width: 12em;
        height: 12em;
        background: url('../img/bg.png')
    }
    a{
        align-self: center;
        margin: 3em auto;
        position: relative;
        white-space: nowrap;
        color: $one;
        z-index: 3;
        &:before{
            content:'';
            position: absolute;
            height: 3em;
            width: calc(100% + 1em);
            left:-.5em;
            top: -1em;
            border: 1px solid $one;
        }
    }
    @media (min-width: $sm){
        width: 85%;
        a::before{
            width: calc(100% + 2em);
            left:-1em;
            top: -1em;
        }
    }
    @media (min-width: $md){
        bottom: 1em;
    }
    @media (min-width: $xl){
        width: 80%;
    }
}
.teaching{
    position: relative;
    min-height: 7em;
    padding: .5em 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    h2{
        display: none;
        position: absolute;
        right: 0;
        font-size: 4em;
        color: $one;
        line-height: 1em;
        margin: 0;
        z-index: -1;
        font-family: $headingFont;
    }
    a{
        min-width: 100%;
        min-height: 7em;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        margin: 1em 1em;
        padding: .5em;
        border: 1px solid $two;
    }
    @media (min-width: $sm){
        h2{
            display: inline;
            font-size: 6em;
        }
        a{
            min-width: auto;
        }
    }
    @media (min-width: $md){
        min-height: 9em;
        h2{
            font-size: 8.5em;
        }
        a{
            min-height: 9em;
            max-width: 12em;
        }
    }
    @media (min-width: $xl){
        min-height: 10em;
        padding: 1em 0;
        h2{
            font-size: 9.5em;
        }
        a{
            min-height: 10em;
            max-width: 15em;
        }
    }
}

.articles{
    position: relative;
    // overflow: hidden;
    h2{
        font-size: 3em;
        font-family: $headingFont;
        padding: 0 2em;
        color: $two;
    }
    .articles-years{
        position: absolute;
        top: 0;
        left: 0;
        padding: 4em 0 .5em 0;
        // left: 70px;
        // padding: 0 1em 0 4em ;
        // text-transform: uppercase;
        // transform: rotate(90deg);
        // transform-origin: left top 0;
        z-index: 10;
        background: $one;
        &:before{
            content:'';
            position: relative;
            display: block;
            width: 100%;
        }
        .articles-year{
            display: table-cell;
            vertical-align: middle;
            line-height: 70px;
            letter-spacing: 3px;
            padding: 0;
            border: none;
            appearance: none;
            position: relative;
            background-color: transparent;
            transition: background-color 1000ms linear;
            cursor: pointer;
            &:hover, &:focus{
                border: none;
                background-color: rgba($two, .8);
                outline: $three;
            }
            &:active{
                border: none;
                background-color: $two;
            }
            span{
                display: inline-block;
                vertical-align: middle;
                padding: 0 .5em;
                position: relative;
                font-family: $headingFont;
                font-size: 1.3em;
                z-index: 1;
                // transform: rotate(180deg);
                transform: rotate(-90deg);
            }
        }
        .active{
            background: $two;
            color: white;
        }
    }
    .articles-content{
        position: relative;
        width: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        max-width: 100%;
        padding: 1em 1em 1em 5em;
        .articles-content_year{
            display: none;
            height: auto;
            p{
                font-weight: .9;
                padding-bottom: 1em;
                line-height: 1.5em;
            }
            p:last-child{
                padding: 0;
            }
        }
        .active{
            display: block
        }
    }
}
.contact{
    width: 100%;
    min-height: 12em;
    padding: 1em;
    text-align: right;
    background-image: url(../img/contact.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $one;
    position: relative;
    .contact-header{
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        line-height: 1em;
        margin: 0;
        font-family: $headingFont;
        @media (min-width: $sm){
            display: inline-block;
            right: .25em;
            font-size: 6em;
        }
        @media (min-width: $md){
            font-size: 8.5em;
        }
        @media (min-width: $lg){
            right: 1em;
        }
        @media (min-width: $xl){
            font-size: 9.5em;
        }
        @media(min-width: $xxl){
            right: 1.5em;
        }
    }
    a{
        white-space: nowrap;
        display: block;
        padding: 1em 0;
        color: $two;
        mix-blend-mode: multiply;
        span{
            padding-right: .5em;
        }
    }
    @media (min-width: $md){
        padding: 1em 1em 1em 12em;
        text-align: center;
    }
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?tnnq0f');
    src:  url('../fonts/icomoon.eot?tnnq0f#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?tnnq0f') format('truetype'),
      url('../fonts/icomoon.woff?tnnq0f') format('woff'),
      url('../fonts/icomoon.svg?tnnq0f#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-map-marker:before {
    content: "\e900";
  }
  .icon-envelope:before {
    content: "\e903";
  }
  .icon-phone:before {
    content: "\e904";
  }
  .icon-keyboard_arrow_right:before {
    content: "\e907";
  }
  .icon-keyboard_arrow_left:before {
    content: "\e901";
  }
  .icon-close:before {
    content: "\e902";
  }