@import "variables";
@import "layout";
body{
    font-family: $body;
}
.navbar-item{
    font-size: 12px;
}
.home{
    height: 100vh;
    min-height: 500px;
}
.home-info{
    top:15%;
    z-index: 2;
    transform: translateX(-100%);
    mix-blend-mode: multiply;
    span{
        color:$red2;
    }
}
.slide-in{
    animation: slideIn 2s forwards;
}
@keyframes slideIn{
    100% {transform: translateX(0%);}
}

.bg-only-light{
    background: $light;
    min-height: 100vh;
    z-index: -2;
}
.bg-only-dark{
    min-height: 80vh;
    background: $red2;
    right:0;
    top: 4rem;
    z-index: -1;
}
.img-bg{
    width: 75%;
    top: 50%;
    left:1rem;
}
.img-main{
    bottom:0;
    right: 0;
    transform: translateX(100%);
    @media (min-width:$md){
        right: 1rem;
        bottom: 1rem;
    }
}
.f-5{
    font-size: 5rem;
}
.teaching{
    min-height: 7.5rem;
    h2{
        color: $gray;
        right: 0;
        margin: 0;
        z-index: -1;
    }
    p{
        margin: 0;
    }
    >div{
        min-height: 7.5rem;
    }
}


